<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
    <style>
        form{
            width: 35%;
            display:flex;
            flex-direction:column;
            justify-content: center;
            align-content: space-around ;
        }
        form div{
            width: 100%;
            display:flex;
            flex-direction: column;
        }
        button{
            width: 50%;
            align-self: center;
            margin: 5%;
        }
    </style>
</head>
<body> 
    <h1><%= farm.name %>: Add a new product</h1>
    <form action="/farms/<%=farm_id%>/products" method="post">
        <div><label for="name">Product Name: </label><input type="text" id="name" name="name" placeholder="Product Name"></div>
        <div><label for="price">Price: </label><input type="number" id="price" name="price" placeholder="Price"></div>
        <div>
            <label for="category">Category: </label>
            <select id="category" name="category" placeholder="Category">
                <% for (let category of categories){ %> 
                    <option value="<%= category %>"><%= category %></option>
                <% } %>
            </select>
        </div>
        <button>ADD</button>
    </form>
    <a href="/farms/<%=farm_id%>">Cancel</a>
</body>
</html>